<!doctype html>
<html lang="en" ng-app="houses">
<head>
  <meta charset="utf-8">
  <title>Houses</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/font-awesome-4.6.1/css/font-awesome.css">
  <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog.css">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog.css">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog-theme-default.css">
  <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog-theme-plain.css">
  <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog-custom-width.css">
  <link rel="stylesheet" href="css/app.css">

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/ng-dialog/js/ngDialog.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>
  <script src="js/directives.js"></script>

</head>
<body>

  <div class="view-container col-md-8 col-xs-12 col-md-offset-2">
  <h2>List of houses</h2>
  <form class="form-inline">
  <div class="form-group">
      <label class="sr-only" for="searchInput">Search</label>
      <div class="input-group searchInput">
        <div class="input-group-addon"><i class="fa fa-search " aria-hidden="true"></i></div>
        <input ng-model="searchText" type="text" class="form-control" id="searchInput" placeholder="Search">
      </div>
    </div>
    <a class="pull-right" href="" ng-click="openModalWin()"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></a>
    </form>
  	<div>
  		<add-house>
  		</add-house>
  	</div>
    <div ng-controller="housesListCtrl">
    	<my-house ng-repeat="house in houses | filter:searchText track by house.uuid" data="house" param="mat">
    	</my-house>
    </div>
  </div>

</body>
</html>
