<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">{{data.name}}</h2>
  </div>
  <ul class="list-group">
  <li class="list-group-item">
  	<div class="row"><lable class="col-sm-3 col-xs-5">Number of rooms:</lable> 
    <div class="col-sm-9 col-xs-5">{{data.rooms}}</div></div></li>
  <li class="list-group-item">
  	<div class="row"><lable class="col-sm-3 col-xs-5">Number of flours:</lable> 
    <div class="col-sm-9 col-xs-5">{{data.floors}}</div></div> </li>
  <li class="list-group-item">
   	<div class="row"><lable class="col-sm-3 col-xs-5">Prise:</lable> 
    <div class="col-sm-9 col-xs-5">{{data.prise}}</div></div></li>
  <li class="list-group-item">
    <div class="row">
      <lable class="col-sm-3 col-xs-5">Materials:</lable> 
      <div class="col-sm-9 col-xs-5">
        <div ng-repeat = "material in data.materials">
          {{material.name}}
        </div>
      </div>
    </div>
  </li>
  </ul>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-3 col-xs-5 control-lable" for="mater">Description:</div> 
      <div class="col-sm-9 col-xs-5">
        {{data.description}}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-1 pull-right" ng-controller="housesDeleteModal">
          <a href="" ng-click="openDefaultModal()">
            <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
          </a>
          <script type="text/ng-template" id="modalDeleteHouse">
            <div class="ngdialog-message">
              Are you sure that you want to remove {{data.name}}?
              <div class="row">
                <button type="button"  class="btn btn-default inline close-this-dialog" ng-click="closeThisDialog()">Cancel</button>
                <button type="button"  class="btn btn-primary inline close-this-dialog" ng-click="deleteHouse(data.uuid)" ng-dialog-close-previous>Delete</button>
              </div>
            </div>
          </script>
        </div>  
        <div class="col-xs-1 pull-right" ng-controller="housesEditModal">
          <a href="" ng-click="openEditWin(data)">
            <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
          </a>
          <edit-house house="data">
          </edit-house>
        </div>
      </div>
  </div>


</div>
